apiVersion: v1
kind: Service
metadata:
  name: frontend-service
  namespace: final-project
spec:
  selector:
    app: frontend
  ports:
    - protocol: TCP
      port: 5001
      targetPort: 5001
  type: ClusterIP
