apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend
  namespace: final-project
spec:
  replicas: 1
  selector:
    matchLabels:
      app: frontend
  template:
    metadata:
      labels:
        app: frontend
    spec:
      containers:
        - name: frontend
          image: mazen2025/final-project-front:v1
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 5001
          resources:
            requests:
              cpu: "50m"
              memory: "64Mi"
            limits:
              cpu: "150m"
              memory: "128Mi"
          env:  
            - name: BACKEND_URL
              value: "http://backend-service:5000"

               
            
           