name: CI - Build & Push Images

on:
  push:
    branches: [ "main" ]

jobs:
  docker:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

   
    # ---------- BACKEND ----------
    

    # ---------- DOCKER ----------
    - name: Login DockerHub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}

    - name: Build & Push Frontend Image
      run: |
        TAG=${GITHUB_SHA::7}
        docker build -t mazen2025/final-project-front:$TAG ./frontend
        docker push mazen2025/final-project-front:$TAG
        docker tag mazen2025/final-project-front:$TAG mazen2025/final-project-front:latest
        docker push mazen2025/final-project-front:latest

    - name: Build & Push Backend Image
      run: |
        TAG=${GITHUB_SHA::7}
        docker build -t mazen2025/final-project-back:$TAG ./backend
        docker push mazen2025/final-project-back:$TAG
        docker tag mazen2025/final-project-back:$TAG mazen2025/final-project-back:latest
        docker push mazen2025/final-project-back:latest
