name: Build & Push Docker Images

on:
  push:
    branches: [ "main" ]

jobs:
  docker:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Login to DockerHub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}

    - name: Build & Push Frontend
      run: |
        docker build -t mazen2025/final-project-front:latest ./frontend-html
        docker push mazen2025/final-project-front:latest

    - name: Build & Push Backend
      run: |
        docker build -t mazen2025/final-project-back:latest ./backend-flask
        docker push mazen2025/final-project-back:latest
